## Импорт библиотек

In [17]:
import pandas as pd

from sklearn.model_selection import train_test_split  # инструмент для разбивки
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели 
from sklearn.feature_selection import chi2 # хи-квадрат
from sklearn.feature_selection import f_classif # anova

In [25]:
hotels = pd.read_csv('hotels.csv')
hotels = hotels.copy()

In [28]:
display(hotels.head(3))
display(hotels['hotel_address'].value_counts())

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097

163 Marsh Wall Docklands Tower Hamlets London E14 9SJ United Kingdom              3587
372 Strand Westminster Borough London WC2R 0JJ United Kingdom                     3206
Westminster Bridge Road Lambeth London SE1 7UT United Kingdom                     3095
Scarsdale Place Kensington Kensington and Chelsea London W8 5SY United Kingdom    2688
7 Pepys Street City of London London EC3N 4AF United Kingdom                      2379
                                                                                  ...
Via Palmanova 153 20132 Milan Italy                                                  7
40 Rue Rene Boulanger 10th arr 75010 Paris France                                    7
Via M Buonarroti 13 Fiera Milano City 20149 Milan Italy                              6
Johann Staud Stra e 32 16 Ottakring 1160 Vienna Austria                              6
13 Rue Fran ois Ory 92120 Paris France                                               5
Name: hotel_address, Length: 1493, dtype: int64

### Подготовка данных

In [19]:
# Удаление строковых признаков
object_columns = ['hotel_address', 'hotel_name']
hotels.drop(object_columns, axis = 1, inplace=True)
hotels = hotels.fillna({'lat':0, 'lng':0})
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 9 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386803 non-null  int64
 1   average_score                               386803 non-null  float64
 2   review_total_negative_word_counts           386803 non-null  int64
 3   total_number_of_reviews                     386803 non-null  int64
 4   review_total_positive_word_counts           386803 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 6   reviewer_score                              386803 non-null  float64
 7   lat                                         386803 non-null  float64
 8   lng                                         386803 non-null  float64
dtypes: float64(4), int64(5)
memory usage: 26.6 MB

### Подготовка данных

In [20]:
# Разбиваем датафрейм на части для обучения и тестирования
X = hotels.drop(['reviewer_score'], axis = 1)  
y = hotels['reviewer_score']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, 
    random_state=42)

### Создание и обучение модели
Используем алгоритм  RandomForestRegressor

In [21]:
regr = RandomForestRegressor(n_estimators=100)  # создание

regr.fit(X_train, y_train)  # обучение на тестовых данных
      
y_pred = regr.predict(X_test)  # Предсказанные значения в тестовой выборке

### Оценка качества модели

In [22]:
# Используем метрику MAPE  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.1412880594751921